body{
    --slack-color: #3f0f40;
    overflow: hidden;
  }
  
  .app__body{
    display: flex;
    height: 100vh;
  }

  .homepage{
    margin-top: 30px;
    margin-left: 20px;
    padding: 10px;
  }